<form action="/login" method="POST" class="login_form">
  Email: <input type="text" name="user[email]"><br>
  Password: <input type="password" name="user[password]"><br>
  <input type="submit" value="Submit"><br><br>
</form>
