<div class="signup-form" >
  <form action="/signup" method="POST" class="submit-signup">
    First Name: <input type="text" name="user[first_name]"><br>
    Last Name: <input type="text" name="user[last_name]"><br>
    Company Name: <input type="text" name="user[username]"><br>
    Email: <input type="text" name="user[email]"><br>
    Password: <input type="password" name="user[password]"><br>
    Confirm Password: <input type="password" name="user[password_confirmation]"><br>
    <input type="submit" value="Submit">
  </form><br><br>
</div>
